.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.img {
  width: 250px;
  height: 250px;
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.price {
  font-size: 1.2rem;
}
