.card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  width: 250px;
}

.img {
  width: 250px;
  height: 250px;
  background-color: #f4f4f4;
}

.title {
  font-size: 1rem;
  font-weight: 500;
}

.price {
  font-size: 1.2rem;
}

.add {
  align-self: flex-end;
}
